services:
  discord-bot:
    build: .
    env_file:
      - .env
    restart: unless-stopped

  db:
    image: postgres:18
    restart: always
    shm_size: 128mb
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}

volumes:
  postgres_data:
